<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center text-white">
    <small>Copyright &copy; <%= link_to "Mihir Srivastava", "https://mihirshri.github.io", class: "text-white" %></small>
  </div>
</footer>